<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XMeme</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script> 
    <style>
        div.show-meme{
  width: 500px;
  height: 500px;
  overflow: scroll;
        }
    </style>
</head>
<body>
    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
    <div class="row align-items-center">
        <div class="col-6 col-md-4">
            preview
            <img id="frame" src="" width="100px" height="100px" />
        </div>
        <div class="col-6 col-md-4">
            <h1>XMeme Stream</h1>
            <form>
                <div class="form-group">
                    <label for="memeOwner">Meme Owner</label>
                    <input type="text" class="form-control" id="memeOwner" placeholder="Enter Owner Name" required>
                </div>
                <div class="form-group">
                    <label for="memeCaption">Meme Caption</label>
                    <input type="text" class="form-control" id="memeCaption" placeholder="Enter Caption" required>
                </div>
                <div class="form-group">
                    <label for="memeURL">Meme URL</label>
                    <input type="text" class="form-control" id="memeURL" placeholder="Enter Meme URL" required onchange="preview()">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <br> 
            <br>
            <div class = "show-meme">
                <h2>Result of the Meme</h2>
                {% for dict_item in result_list %} 
                    {{ dict_item["meme_owner"] }}  <br>
                    {{ dict_item["meme_caption"] }} <br>
                    <img src='{{ dict_item["meme_url"] }}' width="200" height="200">  
                    <br>
                    <br>
                {% endfor %}
            </div>

        </div>
        <div class="col-6 col-md-4">
        </div>
    </div> 
    <script>
       function preview() {
            frame.src = URL.createObjectURL(event.target.files[0]);
        }
    </script>
</body> 
</html>